﻿@{
    ViewBag.Title = "O nas.";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h3>Od zawsze z Wami!</h3>
    <p>
        Tomato to rodzinna pizzeria serwująca od 1992 r. pyszną pizzę, docenioną przez dziesiątki tysięcy smakoszy. Szybko docieramy do całego Wałbrzycha i okolic.
    </p>

    <h3>Świeżość przede wszystkim!</h3>
    <p>
        Codziennie tworzymy naszą pyszną pizzę. Korzystamy wyłącznie ze świeżych składników od sprawdzonych dostawców. Przez lata opracowywaliśmy oryginalną recepturę na ciasto. Gwarantujemy, że kto raz go zakosztował, nie pomyli go z żadnym innym. To po prostu idealny balans smaku, grubości, puszystości i chrupkości. W Tomato stawiamy też na własne sosy i autorskie kompozycje smakowe.
    </p>

    <h3>Nie tylko na obiad!</h3>
    <p>
        Tomato to pizzeria idealna na spotkania rodzinne, wyjście ze znajomymi, randkę czy imprezę firmową lub okolicznościową (urodziny, chrzest, komunia, wieczór kawalerski lub panieński).
    </p>
</article>