﻿@{
    ViewBag.Title = "Kontakt";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefon</h3>
    </header>
    <p>
        <span class="label label-default">Zamawianie pizzy:</span>
        <span>(70) 123 45 67</span>
    </p>
    <p>
        <span class="label label-default">Kierownik zmiany:</span>
        <span>(70) 123 45 68</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        ul. Torfowa 17<br />
        59-985 Wałbrzych
    </p>
</section>