﻿@model List<TomaszWojciechowskiLab5ZadanieDomowe.Models.Pizza>
@{
    ViewBag.Title = "Pizzeria Tomato";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Nasza pizza tworzona jest z pasją i zaangażowaniem.<br />
                Wszystkie składniki są najwyższej jakości, sprowadzane bezpośrednio od polskich i włoskich producentów.<br />
                Niezapomniany smak zawdzięczamy wieloletniemu doświadczeniu kucharzy,<br />
                a miła obsługa zapewnia relaksującą atmosferę w lokalu.<br />
                <br />
                Zapraszamy!
            </p>
        </div>
    </section>
}
<h3>Wybierz swoje pizze:</h3>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td class="col-lg-3"><b>Nazwa</b></td>
            <td class="col-lg-4"><b>Składniki</b></td>
            <td class="col-lg-2"><b>Cena</b></td>
            <td class="col-lg-3"><b>Ilość</b></td>
        </tr>
    </thead>

    <tbody>

        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Components</td>
                    <td><input type="text" value="@item.Price.ToString().Replace(",", ".")" readonly id="@("p" + item.ID.ToString())" class=" input-sm" style="width: 50%" /></td>
                    <td>
                        <button id="minus @item.ID" class="btn btn-sm minus">-</button>
                        <input type="text" value="0" readonly id="@("a" + item.ID.ToString())" class="input-sm" style="width: 50%" />
                        <button id="plus @item.ID" class="btn btn-sm plus">+</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<table class="table tab-pane">
    <tr>
        <td>Kwota zamówienia [zł]</td>
        <td>
            <input type="text" id="orderValue" value="0" readonly />
        </td>
    </tr>
</table>

<h3>Dostawa</h3>

<table>
    <tr>
        <td class="col-md-2">Imię i nazwisko</td>
        <td class="col-md-4">
            <input type="text" id="name" style="width: 99%" />
        </td>
    </tr>
    <tr>
        <td class="col-md-2">Adres</td>
        <td class="col-md-4">
            <input type="text" id="address" style="width: 99%" />
        </td>
    </tr>
    <tr>
        <td class="col-md-2">Telefon</td>
        <td class="col-md-4">
            <input type="text" id="phone" style="width: 99%" />
        </td>
    </tr>
</table>
<br />
<button class="btn btn-primary order">Zamawiam!</button>

<script type="text/javascript">
    $(document).ready(function () {
        // dodawanie ilosci pizzy
        $('.plus').click(function () {
            var id = $(this).prop('id').substring(5);
            var val = parseInt($('#a' + id).val()) + 1;
            if (val <= 20) {
                $('#a' + id).val(val);
                var val = parseFloat($('#orderValue').val()) + parseFloat($('#p' + id).val());
                val = val.toFixed(2);
                $('#orderValue').val(val);
            }
        });
        // usuwanie liości pizzy
        $('.minus').click(function () {
            var id = $(this).prop('id').substring(6);
            var val = parseInt($('#a' + id).val()) - 1;
            if (val >= 0) {
                $('#a' + id).val(val);
                var val = parseFloat($('#orderValue').val()) - parseFloat($('#p' + id).val());
                if (val < 0)
                    val = 0;
                val = val.toFixed(2);
                $('#orderValue').val(val);
            }
        });
        // akceptacja zamówienia
        $('.order').click(function () {
            $.ajax({
                url: "/Home/NewOrder",
                type: "POST",
                success: function () {
                    alert("Zamówienie zostało zaakceptowane.\nSprawdź zakładkę \"Status zamówienia\"")
                    location.reload();
                }
        });
    });
    });
</script>