﻿@model List<TomaszWojciechowskiLab5ZadanieDomowe.Models.Order>
@{
    ViewBag.Title = "Pizzeria Tomato";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td class="col-lg-2"><b>Numer</b></td>
            <td class="col-lg-3"><b>Przyjęto</b></td>
            <td class="col-lg-3"><b>Dostarczono</b></td>
            <td class="col-lg-2"><b>Czas dostawy</b></td>
            <td class="col-lg-2"><b>&nbsp;</b></td>
        </tr>
    </thead>

    <tbody>

        @{
            foreach (var item in Model)
            {
                string deliver = (item.Delivered > item.Ordered ? item.Delivered.ToString() : "w trakcie");
                string deliverTime = (item.Delivered > item.Ordered ? ((int)((item.Delivered - item.Ordered).TotalMinutes)).ToString() : string.Empty);

                <tr>
                    <td>@item.Number</td>
                    <td>@item.Ordered</td>
                    <td>@deliver</td>
                    <td>@deliverTime</td>
                    <td>
                        @if (item.Delivered < item.Ordered)
                        {
                            <button class="btn btn-default delivered" id="@item.ID">Dostarczono</button>
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<h3>Hasło dostawcy (wpisz "h")</h3>
<input type="password" id="pass" />

<script type="text/javascript">
    $(document).ready(function () {
        // dodawanie ilosci pizzy
        $('.delivered').click(function () {
            if ($("#pass").val() == "h") {
                var id = $(this).prop('id');
                $.ajax({
                    url: "/Home/Delivered",
                    type: "POST",
                    data: { orderID: id },
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert("Nie udało się!");
                    }
                });
            }
            else {
                alert("Podaj hasło dostawcy!");
            }
        });
    });
</script>